/* =============
    Section 1
============= */
#section-1{
    height: 850px;

    >div{
        height: 30%;
        width: 30%;
        margin: 0% 5% 5% 35%;
        padding: 15% 0 0 0;
        cursor: pointer;

        #moon-crescent{
            display: none;
            // visibility: hidden;
        }
    }

}
